body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,
	Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
	color: black;
}
.topber{
	width: 100%;
}
.container{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}

body,p,ul{
	margin: 0;
	padding: 0;
}
input{
	border: none;
	outline: none;
}
a{
	text-decoration: none;
}
*{
	text-decoration: none;
	list-style: none;
}
/* --------导航栏------------ */

/* 导航栏左侧 */
.header{/* 黑条 */
	height: 80px;
	text-align: center;
	background-color: black;
}
.header .site-logo{/* logo盒子 */
	float: left;
	width: 178px;
	margin-top: 8px;
}
.header .site-logo img{/* logo图片 */
	float: left;
	width: 170px;
	margin-left: 10px;
}
.header .site-logo a{
	display: block;
	width: 56px;
	height: 56px;
}
.header .site-list{/* 首页字体 */
	float: left;
	width: 400px;
	height: 70px;
	padding: 10px 0 0 31px;
	font-size: 21px;
}
.header .site-list ul li{/* 列表排列 */
	float: left;
}
.header .site-list ul li a{ /* 首页字体 */
	display: block;
	padding: 15px 10px 18px;
	color: #FFFFFF;
}
.header .site-list ul li a:hover{/* 鼠标悬浮 */
	color: coral;
}

/* tab下拉菜单 */
.other {
  position: relative;
  display: inline-block;
  z-index:1;
}
.dis {
	width: 80px;
	text-align: center;
	display: none;
	position: absolute;
	background-color: #666666;
	padding: 12px 0px;
	font-size: 20px;
	line-height: 10px;
	z-index: 2;
}
.dis li a{
	color: #000000;
}
.other:hover .dis {
	display: block;
}
.login:hover .dis {
	display: block;
}

/* 搜索框 */
.header .site-search{
	float: right;
	width: 296px;
	margin-top: 25px;
	/* background-color: #777; */
}
.header .site-search from{
	position: relative;
	width: 296px;
	height: 50px;
}
.search-text{
	width: 200px;
	height: 30px;
	border: 1px solid #ffffff;
	font-size: 14px;
	padding: 0 10px;
	float: left;
	background-color: rgb(255, 255, 255);
}
.search-text:focus{
	border: 1px solid #FF7F50;
}
.submit{/* 登入按钮 */
 	float: left;
	width: 50px;
	height: 32px; 
	margin-left: -1px;
	border:1px solid #FF7F50; 
	background: coral;
}
 
.login{/* 登入 */
	float: right;
 	margin: 24px 20px 0 0;
 	color: #FF7F50;
}
.login img{width: 35px;}
.login ul a{
	color: #F6F6F6;
}

/* --------- 搴锟?? ---------- */
.footer {
	position: relative;
	height: 200px;
	width: 100%;
	background: #F2F2F2;
	color: #A2A2A2;
	margin-top: 4px;
	/* border-top: 1px solid #F2F2F2; */
}
.footer-liebiao{
	padding-top: 15px;
	height: 100px;
	width: 1000px;
}
.neir h4{
	color: #666666;
}
.footer-liebiao td{
	width: 100px;
}
.guanyu {
	float: left;
	width: 370px;
	height: 10px;
	margin: 0 0px 0 50px;
}
.xieyi {
	float: left;
	width: 370px;
	margin: 0 0px 0 150px;
}
.footer-infro {
	margin-top: 3px;
	font-family: '瀹浣';
	/* padding-top: 30px; */
	text-align: center;
	font-size: 14px;
	line-height: 21px;
}
/* -------- 搴ㄦend --------- */