/* --------轮播�?--------- */

 .site-content{
	height: 310px;
}
  /* 轮播�? */
 #imglist img{
    width: 1000px;
    height: 300px;
	border-radius: 5px;
}
.box {
    width: 994px;
    height: 300px;
    border: 3px #E0E0E0 double;
    position: relative;
    left: 0px;
    overflow:hidden;
	border-radius: 5px;
}
#imglist {
    width: 5000px;
    height:300px;
    list-style: none;
    position: absolute;
    left: 0px; 
}
#imglist li {
    float: left;
}
#btnlist{
    width: 20%;
    left: 40%;
    top:260px;
    position:absolute;
    list-style: none;
}
#btnlist li{
    color: black;
    text-align: center;
    float: left;
    width: 15px;
    height: 15px;
	margin: 0 12px;
    border-radius: 70%;
    background-color:rgba(0,0,0, 0.5);
	cursor: pointer;/* 鼠标悬浮变小�? */
} 


/* --------轮播图end--------- */



/* --------主页内容--------- */
 .content{
	height: 960px;
	/* background-color: #87CEEB; */ /* 背景色定位测试框 */
}


  /* tab菜单 */
#tab{
	width: 700px;
	height: 300px;
	margin-top: 5px;
	border-radius: 10px;/* 方块圆角 */
	background-color: #F2F2F2;   
}
#tabNav{
	width: 500px;
	height: 30px;
	margin: 10px 0 0 20px;
}
#tabNav p{
	float: left;
	margin-right: 10px;
}
#tabNav ul li{
	float: left;
	text-align: center;
	width: 60px;
	list-style: none;
	margin-right: 10px;
	cursor: pointer;/* 鼠标悬浮变小�? */
} 
.active{
	background-color: #D3D3D3;
	border-radius: 10px;/* 方块圆角 */
}
#main{
	clear: both;
}
.item{
	display: none;
	margin-left: 10px;
}
.show{
	display: block;
}
/* tab菜单-最�? */
.zuixin-left {
	float: left;
	width: 290px;
	height: 230px;
	position: relative;  /* 相对移动 */
	top: 10px;
	background-color: #E0E0E0;
	border-radius: 10px;/* 方块圆角 */
}
.zuixin-left img{
	width: 290px;
	border-radius: 10px;/* 方块圆角 */
}
.zuixin-left a{
	margin-left: 15px;
	font-size: 20px;
	color: #000000;
}
.zuixin-left a:hover{color: coral;}
.zuixin-right a:hover{color: coral;}
.zuixin-right a{color: #000000;}
.zuixin-right{
	width: 330px;
	height: 230px;
	float: left;
	position: relative;/* 相对移动 */
	top: 10px;
	left: 30px;
	/* background-color: #87CEEB; */
}
.zuixin-right img{
	width: 150px;
	border-radius: 10px;/* 方块圆角 */
}
.zuixin-right1{
	float: left;
	width: 150px;
}
.zuixin-right2{
	float: right;
	width: 150px;
}
.zuixin-right1,.zuixin-right2{
	display: inline-block;
}


#tab,.tableft{
	display: inline-block;
}

/* 电视剧热播榜 */
.tableft{
	float: right;
	width: 280px;
	margin-top: 5px;
	background-color:#F2F2F2;
	border-radius: 10px;/* 方块圆角 */
}
.tableft-list{
	height: 45px;
	margin-left: 15px;
	position: relative;
	top: 10px;
}
.tableft-list a{
	color: #000000;
	margin-left: 5px;
}
.tableft-list a:hover{
	color: #FF7F50;
}
.tableft-list p{
	display:inline;
	color: #FF7F50;
}

/* tab菜单下方 */
.tabdown{
	height: 20px;
	/* background-color: #FF7F50; */
}
.tabdown img{
	width: 156.6px;
	border-radius: 5px;/* 方块圆角 */
}

.tabdown li{
	float: left;
	height: 260px;
	margin-right: 10px;
}
.tabdown a{
	font-size: 10px;
	color: #000000;
}
.tabdown a:hover{color: coral;}





























/* --------主页内容end--------- */

