/* --------主页内容--------- */
 .content{
	height: 1200px;
	/* background-color: #87CEEB; */ /* 背景色定位测试框 */
}


  /* tab菜单 */
  .jianjie{
	  width: 1000px;
	  height: 387px;
	  background-color: #F2F2F2;
  }
.jianjie-left{
	float: left;
	width: 300px;
}
.jianjie-right{
/* 	width: 500px;
	height: 200px; */
	position: relative;
	left: 50px;
	top: 10px;
}
.jianjie-right hr{/* 夏目分割�?? */
	width: 500px;
	height: 1px;
	border: none;
	border-top:  1px dashed coral;
}
.jianjie-right font{
	color: red;
}
.jianjie-zhengwen{
	background-color: #F2F2F2;
}
.jianjie-zhengwen h2{
	position: relative;
	left: 30px;
	top: 5px;
}
.jianjie-bofang{
	height: 200px;
	background-color: #F2F2F2;
}
.jianjie-bofang h2{
	position: relative;
	left: 30px;
	top: 5px;
}
.jianjie-a li{
	float: left;
	padding: 10px 50px;
	/* display: flex;  */
	text-align: center;
	background-color: #A2A2A2;
	margin-left: 30px;
}
.jianjie-a a{color: #000000;}
.jianjie-a li:hover{background-color: coral;}


/* 相关推荐 */
.tabdown{
	height: 20px;
	/* background-color: #FF7F50; */
	margin-top: 50px;
}
.tabdown img{
	width: 190px;
	border-radius: 5px;/* 方块圆角 */
}

.tabdown li{
	float: left;
	height: 290px;
	margin-right: 10px;
}
.tabdown a{
	font-size: 10px;
	color: #000000;
}
.tabdown a:hover{color: coral;}



/* --------主页内容end--------- */
